body {
  background-color: whitesmoke;
}

.col {
  margin-top: 40px;
}

.timezone_header {
  font-size: 20px;
}

.insta-entry {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-text {
  padding-left: 10px;
  padding-right: 10px;
}

.instagram-picture {
  margin-top: 10px;
  margin-bottom: 10px;
}

.emoji {
  font-size: 50px;
}
